



marquee{
    height: 18rem;
}

.headerimage {
    width: auto;
    height: 18rem;

}

.content {
    text-align: center;
    padding: 2rem;
    font-family: 'The Girl Next Door', sans-serif;
}

h1{ 
    font-size: 4rem;
}

h1, h2 {
    padding: 2rem;
}


.content__button{
    display: flex;
    justify-content: center;
    padding: 2rem;
}


.button-1 {
    background-color: rgb(241, 157, 171);
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-1:hover,
  .button-1:focus {
    background-color: #f784b0;
    transition: 0.4s;
  }